# Maven target directory
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / IntelliJ / VSCode
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot
.spring-boot-devtools.properties
